*{    padding : 0px;
    margin : 0px;

}
#wrapper {
    width : 1200px;
    margin : 10px auto;
    background: #f1f1f1;
    padding:20px;

}

 .chat_wrapper{

    width : 70%;
    margin : 10px auto;
    background:  #ffffff;
}

 #chat{
    min-height: 500px;
    border:1px solid #b3b3b3;
    padding :10px;
    overflow:auto;
}

.textarea{

      width: 97%;
    border : 1px solid #b3b3b3;
    outline:none;
   margin-top : 20px;
   padding : 10px;
} 


  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }